.banner {
	background-image: radial-gradient(#00000099, #00000099), url("./../images/pexels-maximilian-ruther-199439233-11546831.webp");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	transition: height 1s ease;
}

.landing-headings {
	font-family: Alegreya Serif, serif;
}

.landing-heading1 {
	font-size: calc(1rem + 5vw);
	font-weight: 900;
	color: #fff;
	transition: all 1s ease;
}

.landing-heading2 {
	font-size: calc(1rem + 2.5vw);
	color: #fff;
	transition: all 1s ease;
}
.banner-content {
	position: relative;
	top: 200px;
	height: fit-content;
}
.search-input {
	outline: none;
}

#country-input::before {
	content: "🔍";
}
