.banner {
  background-image: url("./../images/banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  transition: height 1s ease;
}

#landing-heading1 {
  font-size: 8vw;
  color: black;
}

#landing-heading2 {
  font-size: 3vw;
  color: black;
}
.banner-content {
  position: relative;
  top: 75px;
  height: fit-content;
}
.search-input {
  outline: none;
}
